<div ng-show="mc.user === null">
	<div class="alert alert-danger">Error - Unable to load user data.</div>
</div>

<div class="row" ng-show="mc.user != null">
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{mc.user.firstname}} {{mc.user.lastname}}</h3>
			</div>
			<div class="panel-body">
				User ID: {{mc.user.id}}
			</div>
		</div>
	</div>
</div>
