<div class="col-sm-12">

	<button type="button" class="btn btn-primary" ng-disabled="mc.users != null" ng-click="mc.loadUsers()">Load User Data</button>
	<button type="button" class="btn btn-primary" ng-disabled="mc.users === null" ng-click="mc.clearUsers()">{{clearBtnText}}</button>

	<table class="table">

		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Family Name</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="user in mc.users track by $index">
				<td><a href="/#/users/{{user.id}}">{{user.id}}</a></td>
				<td>{{user.firstname}}</td>
				<td>{{user.lastname}}</td>
			</tr>
		</tbody>

	</table>

</div>
